<style>
        body                                   
        { font-family: Arial, sans-serif;     
            background-color:beige;      
            text-align: center;             
            margin: 20px;
         }                 
        h1                                 
        { color:purple; 
            text-align: center;          
            margin-bottom: 20px; 
        }       
        .product-box                     /
        { background-color:bisque;
            width:200px;        
            margin: 0 auto;    
            padding:15px;                     
            border:2px solid gray;          
            border-radius:8px; 
         }               
        .product-box img                   
        { height:100;
             width:100;             
            border-radius:5px;
         }       
        .product-box h2                
        { color:pink;              
            font-size:20px:           
            margin-top:10px; 
        }       
        .description                
        { color:white;                 
            font-size:15px;           
            margin:10px 0;
        }          
        .price                      
        { color:red;
            font-weight:bold;           
            margin-bottom:15px; 
        
        }       
        button                          
        { background-color:blue;      
            color:white;               
            padding:10px 20px;   
            border:none;                 
            border-radius:5px;
         }          
    </style>