<style>
        body                                   /*Body Styling*/
        { font-family: Arial, sans-serif;     /*Font style*/
            background-color:beige;        /*page bg color
            text-align: center;              /*center text on page*/
            margin: 20px; }                 /*space around body*
        h1                                 /*Heading styling*/
        { color:red; 
            text-align: center;            /*text color*/
            margin-bottom: 20px; }        /*space below heading*/
        .product-box                     /*Product box styling*/
        { background-color:bisque;
            width:300px;        /*box width*/
            margin: 0 auto;    /*center the box horizontally*/
            /*when you write margin:auto,the browser automatically calculates equal left and right spaces-
            this pushes element to the center horizontally*/
            padding:15px;                     /*inner space inside box*/
            border:2px solid gray;          /*border around box*/
            border-radius:8px;  }               /*round corners*/ 
        .product-box img                   /*Product image styling*/
        { width:100%;                     /*image takes full box width*/
            height:auto;                 /*keep image proportion*/
            border-radius:5px; }        /*slightly rounded img corner*/
        .product-box h2                /*Product title*/
        { color:black;               /*text color*/
            font-size:20px:           /*font size*/
            margin-top:10px; }       /*space above title*/
        .description                /*Product description*/
        { color:white;                  /*aqua text*/
            font-size:15px;           /*small readable text*/
            margin:10px 0;}          /*space above and below*/
        .price                      /*Product price*/
        { color:red;
            font-weight:bold;            /*bold text*/
            margin-bottom:15px; }       /*space below price*/
        button                          /*Button styling*/
        { background-color:blue;       /*blue button*/
            color:white;                /*white text*/
            padding:10px 20px;            /*inner space(top-bottom,left-right)*/
            border:none;                  /*no border*/
            border-radius:5px; }           /*rounded button corners*/
    </style>