body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin:20px;
}

.outer-box {
    border:4px solid rgba(104, 6, 104, 0.94);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 40px;
    margin: 20px;
    padding:40px;
}

.card {
    background-color:PINK;
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    
    border: 2px solid #3a2a2a;
    transition: 0.3s;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    display:block;
    object-fit:cover;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p{ margin:5px 0;
   font-size:14px;
}