body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {text-align: centre;
padding: 20px;
color: black;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.product-card{
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px grey;
}
.product-card img{
    width: 100%;   /*img covers  full width of card*/
    height: 200px;
    object-fit: cover;   /*crop img without distortion*/
    border-radius: 8px;
}
.product-card h3{
    margin: 15px 0 10px;
    font-size: 20px;
}
.product-card p{
    font-size: 14px;
    color: rgb(238, 124, 124);
}
.price{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
.button{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}
.btn:hover{
    background: blue;
}
/*Mobile view*/
@media(max-width:600px){
    .product-card img{
        height: 150px;    /*smalller img for smaller screen*/
    }
    .product-card h3{
        font-size: 16px;
    }
    .product-card p{
        font-size: 12px;
    }
}
/*Table view*/
@media(min-width: 601px)
and (max-width: 1024px){
.product-card img{
    height: 180px;
   }
   .product-card h3{
    font-size: 18px;}
}
