.days{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:pink;
    padding:10px;
    border:4px solid black;}
.box{
    background-color:rgb(0, 115, 255);
    align-items: center;
    color:black;
    padding:20px;
    text-align:center;
    border-radius:15px;
}
.Day1{ background-color:red;}
.Day2{ background-color:violet;}
.Day3{ background-color:yellow;}
.Day4{ background-color:rgb(238, 141, 141);}
.Day5{ background-color:palegreen;} 
.Day6{ background-color:blue;}
.Day7{ background-color:orange;}