.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(226, 181, 189);
    color: white;
    padding:10px;
    border:4px solid black;}
.menu{
    display: flex;
    background-color:rgb(63, 141, 237);
    align-items: center;
    color:white;
    padding:20px;
    text-align:center;
    border-radius:15px;
}
