.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:pink;
    padding:10px;
    border:4px solid black;}
.box{
    background-color:rgb(0, 115, 255);
    align-items: center;
    color:white;
    padding:20px;
    text-align:center;
    border-radius:15px;
}
.box1{ background-color:red;}
.box2{ background-color:violet;}
.box3{ background-color:yellow;}
.box4{ background-color:brown;}
.box5{ background-color:palegreen;} 