* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0d0d0d;
    color: #fff;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    color: purple;
}

.logo span {
    color: white;
}

nav a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: purple;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8%;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 span {
    color: purple;
}

.hero-text p {
    margin: 20px 0;
    color: #aaa;
}

.hero-text button {
    padding: 10px 25px;
    background: purple;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-img img {
    width: 250px;
}

/* Skills */
.skills {
    text-align: center;
    padding: 60px 8%;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

/* Projects */
.projects {
    padding: 60px 8%;
    text-align: center;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    padding: 30px;
    border-radius: 15px;
    color: #fff;
}

.orange { background: #ff9f1c; }
.red { background: #e63946; }
.blue { background: #1d4ed8; }

/* Contact */
.contact {
    padding: 60px 8%;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #f2f2f2;
    color: #000;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}